# Forzar una versión de Python estable
python_version == "3.11"

# Librerías de la aplicación
streamlit
pandas
langchain-google-genai
langchain
langchain-community
SQLAlchemy
PyMySQL
google-generativeai

# Nueva librería de audio
streamlit-webrtc
pydub
